.button {
  color: var(--black);
  background-color: var(--secondary-main);
  border: solid 1px var(--secondary-main);
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

@media (hover: hover) {
  .button:hover {
    color: var(--white);
    background-color: var(--primary-main);
    border: solid 1px var(--primary-main);
  }
}

.button--active,
.button:focus,
.button:active {
  color: var(--white);
  background-color: var(--primary-dark);
  border: solid 1px var(--primary-dark);
}
